<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Account</title>
</head>
<body>
<p><b th:text="${'Name: '+ session.currentUser}"></b></p>
<form th:action="@{/user/changePassword}" method="post" th:object="${passwordModel}">
    <input th:field="*{oldPassword}" placeholder="Old password">
    <p th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}"></p>
    <br>
    <input th:field="*{newPassword}" placeholder="New password">
    <p th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"></p>
    <br>
    <button>Submit</button>
</form>
<p th:text="${messagePassword}"></p>
</body>
</html>